<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <div class="outer-container">
    <div class="inner-container">
      <div class="box"></div>
      <div class="content">
        {% if form.errors %}
          <p class="error-message">Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
          {% if user.is_authenticated %}
            <p class="access-message">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
          {% else %}
            <p class="access-message">Please login to see this page.</p>
          {% endif %}
        {% endif %}
        
        <img src="static/University_Sirius_Logo.png" alt="Logo" class="logo">
        
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="field-container">
            <div class="field">
              {{ form.username }}
            </div>
            <div class="field">
              {{ form.password }}
            </div>
            <input type="hidden" name="next" value="{{ next }}">
            <div class="button-container">
              <button type="submit" class="submit-button">Войти</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
